@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #191919;
  padding: 18px 24px;
  border-radius: 1.5rem;
  width: 48%; 
  margin-bottom: 20px; 
  margin-top: 20px;
  box-shadow: -5px 5px 10px #191919,
             5px -5px 10px #292929;

  border: 1px solid #676869;
  transition: transform 0.3s ease;
}

.container:hover {
  background: #151515;
  transform: translateY(-5px);
}

.image {
  margin-bottom: 26px;
  height: 45vh;
  width: auto;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.year {
  font-size: 19px;
  font-weight: 500;
  border-radius: 100px;
  color: #d97706;
  border: 2px solid #d97706;
  padding: 3px 20px;
  margin-left: 1%;
}

.description {
  margin-top: 6px;
  font-size: large;
  /*font-size: 16px*/
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  border-radius: 100px;
  background: #d97706;
  padding: 3px 20px;
}

.links {
  text-decoration: none;
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: center;
  border: 4px #cad4e4;
}

.link {
  text-decoration: none;
  background: #191919;
  /* border: 4px #cad4e4; */
  font-size: 30px;
  /* font-weight: 600; */
  border-radius: 4px;
  padding: 1px 22px;
}

.demobtn,
.btn {
  text-decoration: none;
  border-radius: 0.7em;
  background-color: #212121;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.demobtn {
  margin-left: 3%;
}

.demobtn:hover,
.btn:hover {
  background-color: #ffffffac;
  border: none;
  color: black;
}

@media screen and (max-width: 830px) {
  .container {
    width: 100%;
  }
}
